alembic==1.4.1
antlr4-python3-runtime==4.9.2
appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
cloudpickle==1.6.0
databricks-cli==0.14.3
decorator==5.0.7
docker==5.0.0
entrypoints==0.3
Flask==2.0.1
gitdb==4.0.7
GitPython==3.1.18
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
Mako==1.1.4
MarkupSafe==2.0.1
mlflow==1.16.0
numpy==1.20.2
opencv-python==4.5.1.48
pandas==1.2.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.11.0
prometheus-flask-exporter==0.18.2
prompt-toolkit==3.0.18
protobuf==3.17.3
ptyprocess==0.7.0
py4j==0.10.9
pyarrow==3.0.0
Pygments==2.8.1
pyrsistent==0.17.3
pyspark==3.1.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2021.1
PyYAML==5.4.1
querystring-parser==1.2.4
requests==2.25.1
rikai==0.0.9
semver==2.13.0
six==1.15.0
smmap==4.0.0
SQLAlchemy==1.4.19
sqlparse==0.4.1
tabulate==0.8.9
torch==1.8.1
torchvision==0.9.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
websocket-client==1.1.0
Werkzeug==2.0.1
